sudo: false
language: go
go_import_path: shanhu.io/tools

go:
    - 1.7

install:
    - go get ./...
    - go get github.com/golang/lint/golint

script:
    - test -z `gofmt -s -l .`
    - go test ./...
    - e8chk -path="shanhu.io/tools"
    - golint ./...
